<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{common/head :: common-head('Home','home.js')}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
</head>
<body>
<div class="container">
    <div>
        <h1 id="title">Grab Admin Server</h1>
    </div>
    <div>
        <div th:replace="common/template :: data-link"/>
    </div>
</div>
<div th:replace="common/template :: copy"/>
</body>
</html>