<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{common/head :: common-head('Match Data','match_data.js')}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
</head>
<body>
<div class="container">
    <h1 id="title">Match Data</h1>
    <div>
        <div th:replace="common/template :: data-link"/>
        <div th:replace="common/data :: grab-data-table"/>
    </div>
</div>
<div th:replace="common/template :: copy"/>
</body>
</html>